<meta name="description" content="{{if .IsPage}}{{ .Description | plainify  }}{{ else }}{{ if .Site.Params.Description }}{{ .Site.Params.Description | plainify }}{{ end }}{{ end }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ .Permalink }}" />

<!-- OG data -->
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}images/gulugulu-og.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{if .IsPage}}{{ .Description | plainify  }}{{ else }}{{ if .Site.Params.Description }}{{ .Site.Params.Description | plainify }}{{ end }}{{ end }}" />
<meta name="twitter:title" content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}" />
<meta name="twitter:site" content="{{ .Site.Params.twitterHandle }}" />
<meta name="twitter:creator" content="{{ .Site.Params.twitterHandle }}" />
<meta name="twitter:image" content="https://is1-ssl.mzstatic.com/image/thumb/Podcasts114/v4/20/b7/81/20b7811a-79b6-6e79-d38c-67ac26afa769/mza_4338209028314469062.jpg/313x0w.jpg" />

<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
{ 
  "@context": "http://schema.org", 
  "@type": "WebSite", 
  "url": "{{ .Permalink }}", 
  "name": "{{ .Site.Title }}",
   "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}"
    },
  "description": "{{ .Site.Params.description }}",
}
</script>
{{ end }}

{{ if .IsPage }}
<script type="application/ld+json">
{ 
    "@context": "http://schema.org", 
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",  
    "url": "{{ .Permalink }}",
    "datePublished": "{{ time .Date }}",
    "description": "{{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify  }}{{ end }}{{ end }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Author.name }}"
    }
 }
</script>
{{ end }}
